.adminmenu {
    height: calc(100vh - 66px);
    display: flex;
    flex-direction: column;
    background: #30333F;
    width: 13vw;
    padding-top: 40px;
    padding-left: 25px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
}

.adminmenu a {
    font-weight: 600;
    font-size: 14px;
    padding: 0px 0px 30px;
    line-height: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #888B97;
}

.adminmenu a:hover {
    background: transparent;
}

.admin {}

.admin .main_wrap_inner {
    display: flex;
    flex-direction: row;
    background: #E5E5E5;
}

.admin .bread {
    padding: 12px 19px 12px;
}

.wrap_admin_box__inner {
    width: calc(100vw - 13vw - 55px);
    height: calc(100vh - 129px);
    box-sizing: border-box;
    background: #fff;
    margin-left: 19px;
    overflow-y: scroll;
    padding: 22px;
}

.wrap_admin_box__inner h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 52px;
}

.wrap_admin_box__inner h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 16px;
}

.wrap_admin_box__inner h2:after {
    content: '';
    background: #C9C9C9;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.admin .section {
    margin-bottom: 52px;
}

.banner_upload {
    display: flex;
    flex-direction: column;
}

.video_box div:first-child {
    font-size: 14px;
    line-height: 20px;
    margin-right: 15px;
}

.video_box div:nth-child(2) {
    width: 50%;
    position: relative;
}

.video_box {
    margin-bottom: 36px;
}

.video_box form>div {
    display: flex;
    flex-direction: row;
}

.video_box p {
    margin-bottom: 12px;
}

input,
button {
    outline: none;
}

.video_box div input[readonly='true'] {
    border: 0px;
    cursor: default;
}

.video_box div input {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}

.video_box div input[readonly='false'] {
    border: 0px;
    border-bottom: 1px solid;
    cursor: default;
}

button {
    cursor: pointer;
}

.blue_btn {
    background: #2D87B9;
    border-radius: 2px;
    background: #2D87B9;
    border-radius: 2px;
    color: #fff;
    border: none;
    padding: 10px 30px;
    margin-right: 5px;
    text-decoration: none;
}

.partners_controls,
.about_controls,
.news_controls,
.opred_controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.about_controls,
.news_controls {
    align-items: center;
    margin-bottom: 12px;
}

.about_controls h1,
.news_controls h1,
.wikilist h1 {
    margin-bottom: 0px;
}

.wikilist .top_info h1 {
    margin-bottom: 20px;
}

.wikilist .top_info {
    margin-bottom: 62px;
}

.an_btn {
    color: #2D87B9;
    border: 1px solid #2D87B9;
    border-radius: 2px;
    background: transparent;
    padding: 10px 30px;
}

.driver_table__title,
.partners_table__title,
.news_table__title {
    background: #4F8C76;
    border-radius: 2px 2px 0px 0px;
    color: #fff;
}

.partners_table__title,
.news_table__title {
    font-size: 12px;
}

.part_table,
.part_table a {
    font-size: 12px;
}

table {
    border: 0px;
    border-spacing: 0px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

table td {
    padding: 14px 35px;
    border-right: 1px solid #C9C9C9;
}

table td:last-child {
    border-right: 0px;
}

table a {
    font-size: 14px;
    line-height: 20px;
    color: #2D87B9;
    text-decoration: none;
}

table tr:nth-child(2n) {
    background: #F2F3F3;
}

select {
    background: #F2F3F3;
    box-shadow: 0px 5px 5px rgba(29, 35, 43, 0.05), 0px 6px 24px rgba(29, 35, 43, 0.12);
    font-size: 14px;
    line-height: 20px;
    outline: none;
    border-radius: 2px;
    padding: 8px 14px;
    width: 13vw;
}

.opred form>div {
    display: flex;
    flex-direction: column;
}

.opred_controls {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    margin: 15px 0 26px;
}

.opred {
    width: 70%;
}

.opred input[readonly='true'] {
    border: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.opred textarea[readonly='true'] {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    border: 0px;
}

textarea {
    outline: none;
}