header {
    display: flex;
    flex-direction: column;
}

.header_top>div,
.header_bottom>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.header_top {
    background: var(--main-black-color);
}

.header_bottom {
    background: var(--main-yellow-color);
}

.header_top-text {
    font-family: Raleway;
    position: relative;
}

@media(max-width:980px) {
    .header_top-text {
        display: none;
    }
}

.header_top-text::before {
    position: absolute;
    width: 4px;
    height: 43px;
    left: -20px;
    top: 3px;
    content: '';
    background: var(--main-yellow-color);
}

.header_top-text p:first-child {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}

.header_top-text p:last-child {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
}

.header_top-text p:last-child span {
    color: var(--main-yellow-color)
}

.header_top .wrap {
    padding-top: 35px;
    padding-bottom: 33px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

nav a {
    color: #2F2F2F;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 19px 32px;
    box-sizing: border-box;
    text-decoration: none;
}

nav a:hover {
    background: var(--main-hover-color);
}

.reg_popup {
    background: #FFFDF5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 65px;
    box-shadow: 0px 15px 25px rgba(62, 55, 29, 0.18);
    display: none;
    z-index: 99999;
}

.reg_popup_title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    color: var(--text-color);
    margin-bottom: 150px;
}

header [type="radio"]:checked,
header [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

header [type="radio"]:checked+label,
header [type="radio"]:not(:checked)+label {
    background: #FFFDF5;
    box-shadow: 0px 12px 25px rgba(62, 55, 29, 0.15);
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
    color: var(--text-color);
    margin: 0 5px;
    position: relative;
    padding: 110px 40px 30px;
}

#select_driver:checked+label:before,
#select_driver:not(:checked)+label:before {
    content: '';
    position: absolute;
    background: url(../images/dr_icon.svg) no-repeat center / cover;
    top: 31px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 68px;
    height: 68px;
}

#select_partner:checked+label:before,
#select_partner:not(:checked)+label:before {
    content: '';
    position: absolute;
    background: url(../images/pr_icon.svg) no-repeat center / cover;
    top: 31px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 68px;
    height: 68px;
}

header [type="radio"]:checked+label {
    background: #EC8E00;
    color: #fff;
}

.select_box a {
    border: none;
    padding: 14px 28px;
    color: var(--text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    background: #ECEAE5;
    margin-top: 87px;
    display: block;
    width: 100px;
    text-decoration: none;
    pointer-events: none;
}

.next_page.act {
    background: var(--main-yellow-color);
    pointer-events: auto;
    cursor: pointer;
}

.reg_popup .close span {
    width: 2.2px;
    height: 17.6px;
    background: var(--main-black-color);
    transform: rotate(45deg);
    display: block;
}

.reg_popup .close span:last-child {
    transform: rotate(-45deg) !important;
    position: absolute;
    top: 0px;
    left: 0px;
}

.reg_popup .close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: transform .4s linear;
}

.reg_popup .close:hover {
    transform: rotate(180deg);
}

.header_top-user {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    align-items: center;
}

.header_top-user>div {
    padding: 0px 0px 0px 24px;
    cursor: pointer;
}

.heder_top-enter,
.heder_top-registration {
    position: relative;
}

.heder_top-enter {
    margin-right: 57px;
}

.heder_top-enter:hover:before {
    background: var(--main-hover-color) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHxSURBVHgB7ZjdUcJAEMc3wQIyfDybDtQOYgVqBUAHdGDsQCswdIAVgB3QAbzzYXxniP/FZIbJRF24y8WH/c3AHZdlZv+X2729I1IURVEUpTk8skwQBGGr1XpFN6Iz8DxvvtvtHtI0XYrsySK581N0QzKARazX6xuJ7QVZxPf9EZowy7IUbQxHPksmfRK8Gfz/moRYFQAC/oLj75vN5uX4QafTGdCZy+o3fKoBzOBHxVhENWD8BrDuD7OOoEsx8xM4eoX2jRxhJICdR9AuuN/r9W5Xq9UE3Qk5xHQJBcVnv99PIUIcfLawGQONiLAdxM5FiGMAyz1Cno/Kw1WmuQiOiTnVjFhAvsNKYREx2nuqmVOyEG9MdxXjYZUx0mnts8+IBWBn5TJhdDyW1z6Lsi2cf9putzE5wPpO7NJ5xqoA184z1gQ04TxjVErwoQNV5hDdDM6POSaQagfIQIn0QGKKcTGH4E6KPpznM0Af7SV+DskBtZTTLlEBVWAZheQIq4f6brcbIRsVJUeafwqK0lsEYkvkm/VrFYiIIeKRDGlMAMNvAqk0Kg3fYWlJy+wEAkRZrBYBVbTb7YRT7B9mS9iMcbH1zGdsEmD7WuVHsDcssbSqHh2cRjvDZdaMTsSZAJ5VVK4hfV9uGTmtKIqiKMp/4Qs0jLyZh0F1LQAAAABJRU5ErkJggg==) no-repeat center / 24px;
}

.heder_top-registration:hover:before {
    background: var(--main-hover-color) url(../images/reg_icon.png) no-repeat center / 24px;
}

.heder_top-enter:before,
.heder_top-registration:before {
    content: '';
    position: absolute;
    left: 0px;
    background: var(--main-yellow-color) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHxSURBVHgB7ZjdUcJAEMc3wQIyfDybDtQOYgVqBUAHdGDsQCswdIAVgB3QAbzzYXxniP/FZIbJRF24y8WH/c3AHZdlZv+X2729I1IURVEUpTk8skwQBGGr1XpFN6Iz8DxvvtvtHtI0XYrsySK581N0QzKARazX6xuJ7QVZxPf9EZowy7IUbQxHPksmfRK8Gfz/moRYFQAC/oLj75vN5uX4QafTGdCZy+o3fKoBzOBHxVhENWD8BrDuD7OOoEsx8xM4eoX2jRxhJICdR9AuuN/r9W5Xq9UE3Qk5xHQJBcVnv99PIUIcfLawGQONiLAdxM5FiGMAyz1Cno/Kw1WmuQiOiTnVjFhAvsNKYREx2nuqmVOyEG9MdxXjYZUx0mnts8+IBWBn5TJhdDyW1z6Lsi2cf9putzE5wPpO7NJ5xqoA184z1gQ04TxjVErwoQNV5hDdDM6POSaQagfIQIn0QGKKcTGH4E6KPpznM0Af7SV+DskBtZTTLlEBVWAZheQIq4f6brcbIRsVJUeafwqK0lsEYkvkm/VrFYiIIeKRDGlMAMNvAqk0Kg3fYWlJy+wEAkRZrBYBVbTb7YRT7B9mS9iMcbH1zGdsEmD7WuVHsDcssbSqHh2cRjvDZdaMTsSZAJ5VVK4hfV9uGTmtKIqiKMp/4Qs0jLyZh0F1LQAAAABJRU5ErkJggg==) no-repeat center / 24px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heder_top-registration:before {
    background: var(--main-yellow-color) url(../images/reg_icon.png) no-repeat center / 24px;
}

.admin_header {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    height: 66px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(29, 35, 43, 0.05), 0px 6px 24px rgba(29, 35, 43, 0.12);
}

.admin_header a img {
    height: 36px;
    width: auto;
}

.admin_header__info {
    display: flex;
    flex-direction: row;
}

.admin_header__info__avatar {
    background: #ccc;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.admin_header__info__dop___name {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.admin_header__info__dop___logout {
    font-size: 12px;
    line-height: 16px;
}