@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main-black-color: #131313;
    --main-yellow-color: #FFCC00;
    --main-hover-color: #FFA800;
    --gray-bg-color: #F1EEE4;
    --text-color: #2F2F2F;
    --text-color-second: #82755B;
}

* {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    cursor: pointer;
}

.gray_bg {
    background: var(--gray-bg-color);
}

.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1.zag {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 20px;
    color: var(--text-color);
    margin-bottom: 69px;
}

.btn_gray {
    display: flex;
    flex-direction: row;
    padding: 14px 38px;
    color: var(--text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    background: #ECEAE5;
    border: none !important;
    margin: 28px 0px 15px;
    box-shadow: 0px 12px 25px rgba(62, 55, 29, 0.18);
    pointer-events: none;
}

.btn_gray.act_btn {
    background: var(--main-yellow-color);
    pointer-events: auto;
}

.alt_btn {
    display: flex;
    flex-direction: row;
    padding: 14px 38px;
    color: var(--text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    border: none !important;
    margin: 28px 0px 15px;
    border: 1px solid #FFCC00;
    pointer-events: none;
}

.mini_logo img {
    width: 110px;
}

.zag_another {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    color: var(--text-color);
    position: relative;
}

.zag_another:before {
    position: absolute;
    width: 4px;
    height: 100%;
    left: -10px;
    top: 1px;
    content: '';
    background: var(--main-yellow-color);
}

.select_wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.select_list {
    padding: 0 24px;
}

.maps p {
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    /* Secondary Text Color */
    color: #82755B;
    margin-bottom: 4px;
}

.select_wrap table td {
    border-right: 0px;
    position: relative;
}

.select_wrap h3 {
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}

#searchinput,
#subwaysearch {
    border: 0px;
    border-bottom: 2px solid #131313;
    padding: 8px 25px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 0px;
}

.searchform {
    margin-bottom: 38px;
    position: relative;
}

.subway.filter_box {
    position: relative;
}

.subway.filter_box img {
    position: absolute;
    z-index: 9;
    bottom: 28px;
    width: 18px;
}

.subway.filter_box:after {
    display: none;
}

.searchform img {
    position: absolute;
    z-index: 9;
    bottom: 12px;
    width: 18px;
}

.filter label {
    font-size: 14px;
    line-height: 24px;
    margin-left: 7px;
}

.filter legend {
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Secondary Text Color */
    color: #82755B;
}

.inner_filter_title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Text Color */
    color: #2F2F2F;
}

.filter_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    /* Text Color */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #2F2F2F;
    cursor: pointer;
}

.maps {
    width: 23vw;
}

.filter {
    width: 32vw;
}

.filter p {
    margin-bottom: 10px;
}

.clearfilter {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    /* Main Yellow / Action Color */
    color: #FFCC00;
    margin-bottom: 38px !important;
    cursor: pointer;
}

fieldset {
    border: 0px;
}

.select_list {
    width: 100%;
}

.credit_select__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    /* Text Color */
    color: #2F2F2F;
    text-transform: uppercase;
    margin-bottom: 27px !important;
}

.filter_box>div {
    transition: height .4s linear;
    height: 100%;
}

.hidden_filter>div {
    height: 0px !important;
    overflow: hidden;
}

.filter_title {
    position: relative;
    width: 100%;
}

.filter_title:after {
    content: '-';
    font-size: 20px;
    font-weight: bold;
    color: #FFCC00;
    position: absolute;
    right: 0px;
}

.hidden_filter .filter_title:after {
    content: '+';
}

.hidden_filter legend:after {
    content: '+';
}

.documents_page .td_groupNumber,
.documents_page .td_rating,
.documents_page .td_email {
    display: none;
}

.Autostrah_page .td_groupNumber,
.Autostrah_page .td_rating,
.Autostrah_page .td_email {
    display: none;
}

.Autocredit_page .td_groupNumber,
.Autocredit_page .td_rating,
.Autocredit_page .td_email {
    display: none;
}

.hostels_page .td_groupNumber,
.hostels_page .td_rating,
.hostels_page .td_email {
    display: none;
}

.service_page .td_groupNumber,
.service_page .td_rating,
.service_page .td_email {
    display: none;
}

.equipment_page .td_groupNumber,
.equipment_page .td_rating,
.equipment_page .td_email {
    display: none;
}

.View_page .td_groupNumber,
.View_page .td_rating,
.View_page .td_email {
    display: none;
}

.tabs .tab {
    background: #FFFDF5;
    box-shadow: 0px 12px 25px rgba(62, 55, 29, 0.18);
    font-size: 18px;
    line-height: 20px;
    color: #2F2F2F;
    padding: 17px 0px;
    margin: 4px;
    text-align: center;
    width: 33%;
    cursor: pointer;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tab_active {
    background: #EC8E00 !important;
}

.tab_active span {
    color: #fff !important;
}

.rewiews li {
    margin-bottom: 32px;
    list-style: none;
}

.rewiews_name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    /* Text Color */
    color: #2F2F2F;
}

.rewiews_text {
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    /* Text Color */
    color: #2F2F2F;
    margin: 6px 0px 3px;
}

.rewiews_date {
    font-size: 12px;
    line-height: 20px;
    color: #82755B;
}

.newrewiew [type='submit'] {
    outline: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    background: var(--main-yellow-color);
    border-bottom: 0px;
    margin: 24px 0px 36px;
}

.newrewiew textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 19px 25px;
    border: 2px solid #BCB8AA;
    box-sizing: border-box;
}

.top_box {
    border-bottom: 2px solid #EAE8E1;
    padding-bottom: 30px;
    margin-bottom: 53px;
}

.newrewiew p {
    margin: 0px 0px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Text Color */
    color: #2F2F2F;
}

.tabs {
    margin-bottom: 40px;
}

.organization_page__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.main_box {
    width: 60%;
}

.sidebar {
    width: 35%;
}

.select_page [type="checkbox"]:checked+label,
.select_page [type="checkbox"]:not(:checked)+label {
    margin-left: 0px;
}

.select_page legend {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #2F2F2F;
    margin-bottom: 8px;
    cursor: pointer;
}

.select_page fieldset:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #EAE8E1;
}

.select_page fieldset {
    position: relative;
    padding-bottom: 17px;
    margin-bottom: 20px;
    display: flex;
}

.td_phone::before {
    content: '';
    background: url(images/phone_icon.png) no-repeat center / cover;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 20px;
    top: 20px;
}

legend:after {
    content: '-';
    font-size: 20px;
    font-weight: bold;
    color: #FFCC00;
    position: absolute;
    right: 0px;
}

.td_website::before {
    content: '';
    background: url(images/web_icon.png) no-repeat center / cover;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 20px;
    top: 20px;
}

.td_title a {
    color: #2F2F2F;
    text-transform: uppercase;
}

.td_title__logo {
    width: 20px;
    height: 13px;
    margin-right: 6px;
}

.selectview_box>div {
    width: 49%;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    box-shadow: 0px 12px 25px rgba(62, 55, 29, 0.15);
    margin-bottom: 36px;
    cursor: pointer;
}

.selectview_box>div span {
    position: relative;
}

.selectview_box {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sb_act {
    background: #EC8E00;
    color: #fff;
}

.s1.sb_act span:before {
    background: url(images/s1_w.png) no-repeat center / cover;
}

.s1 span:before {
    content: '';
    background: url(images/s1_y.png) no-repeat center / cover;
    position: absolute;
    width: 15px;
    height: 14px;
    left: -20px;
    top: 0;
}

.s2.sb_act span:before {
    background: url(images/s2_w.png) no-repeat center / cover;
}

.s2 span:before {
    content: '';
    background: url(images/s2_y.png) no-repeat center / cover;
    position: absolute;
    width: 18px;
    height: 15px;
    left: -23px;
    top: 0;
}

.show_filter {
    background: #FFCC00;
    width: 100%;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 12px 25px rgba(62, 55, 29, 0.18);
    margin-bottom: 15px;
    margin-top: 10px;
    display: none;
    cursor: pointer;
}

.filter_box_mobile {
    width: 100%;
}

.show_filter span {
    position: relative;
}

.show_filter span:before {
    content: '';
    position: absolute;
    background: url(images/show_filter.png) no-repeat center /cover;
    width: 17px;
    height: 12px;
    top: 4px;
    left: -22px;
}

.filter_title_mob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 39px;
    align-items: center;
}

.filter_title_mob h2 {
    font-size: 26px;
    font-weight: 800;
}

.filter_title_mob img {
    width: 14px;
    height: 14px;
    cursor: pointer;
}