@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main-black-color: #131313;
    --main-yellow-color: #FFCC00;
    --main-hover-color: #FFA800;
    --gray-bg-color: #F1EEE4;
    --text-color: #2F2F2F;
    --text-color-second: #82755B;
}

* {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

.gray_bg {
    background: var(--gray-bg-color);
}

.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1.zag {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 20px;
    color: var(--text-color);
    margin-bottom: 69px;
}

.btn_gray {
    display: flex;
    flex-direction: row;
    padding: 14px 38px;
    color: var(--text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    background: #ECEAE5;
    border: none !important;
    margin: 28px 0px 15px;
    box-shadow: 0px 12px 25px rgba(62, 55, 29, 0.18);
    pointer-events: none;
}

.btn_gray.act_btn {
    background: var(--main-yellow-color);
    pointer-events: auto;
}

.alt_btn {
    display: flex;
    flex-direction: row;
    padding: 14px 38px;
    color: var(--text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    background: transparent;
    border: none !important;
    margin: 28px 0px 15px;
    border: 1px solid #FFCC00;
    pointer-events: none;
}

.mini_logo img {
    width: 110px;
}

.zag_another {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    color: var(--text-color);
    position: relative;
}

.zag_another:before {
    position: absolute;
    width: 4px;
    height: 100%;
    left: -10px;
    top: 1px;
    content: '';
    background: var(--main-yellow-color);
}

.select_wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.select_list {
    padding: 0 24px;
}

.maps p {
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    /* Secondary Text Color */
    color: #82755B;
    margin-bottom: 4px;
}

.select_wrap table td {
    border-right: 0px
}

.select_wrap h3 {
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}

#searchinput {
    border: 0px;
    border-bottom: 2px solid #131313;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.searchform {
    margin-bottom: 38px;
}

.filter label {
    font-size: 14px;
    line-height: 24px;
    margin-left: 7px;
}

.filter legend {
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Secondary Text Color */
    color: #82755B;
}

.inner_filter_title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    /* Text Color */
    color: #2F2F2F;
}

.filter_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */
    /* Text Color */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #2F2F2F;
}

.filter_title span:last-child {
    font-size: 20px;
    font-weight: bold;
    color: #FFCC00;
    cursor: pointer;
}

.filter,
.maps {
    width: 23vw;
}

.filter_box {
    position: relative;
    padding-bottom: 17px;
    margin-bottom: 20px;
}

.filter_box:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #EAE8E1;
}

.filter p {
    margin-bottom: 10px;
}

.clearfilter {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    /* Main Yellow / Action Color */
    color: #FFCC00;
    margin-bottom: 38px !important;
    cursor: pointer;
}

fieldset {
    border: 0px;
}

.select_list {
    width: 100%;
}

.credit_select__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    /* Text Color */
    color: #2F2F2F;
    text-transform: uppercase;
    margin-bottom: 27px !important;
}