@media(max-width:980px) {
    .header_top-text {
        display: none;
    }
    .header_top {
        background: var(--main-black-color);
        position: fixed !important;
        width: 100% !important;
        z-index: 99;
    }
    .box {
        width: calc(50% - 8vw) !important;
        padding: 2vw !important;
        box-shadow: 0px 40px 80px rgba(53, 49, 33, 0.14) !important;
        margin: 2vw !important;
    }
    .box_text {
        font-size: 2vw !important;
        width: 78%;
        margin: 0 auto;
    }
    .look_more {
        padding-bottom: 5vh !important;
        text-align: left;
        width: 90%;
        margin: 0 auto;
    }
    .boxes_wrap {
        box-shadow: none !important;
    }
    .home_page__topinfo {
        font-size: 3vw !important;
        padding: 24px 1vw !important;
    }
    .boxes {
        padding: 5vh 0px 5vh !important;
        width: 90% !important;
        margin: 0 auto !important;
    }
    .heder_top-registration,
    .heder_top-enter {
        font-size: 0px;
    }
    .heder_top-registration {
        margin-left: 30px;
    }
    .header_top .wrap {
        padding: 2vw 3vw !important;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }
    nav a {
        text-align: left !important;
        border-bottom: 1px solid #E8B901;
    }
    .heder_top-logo img {
        width: 50%;
    }
    .header_bottom {
        position: fixed;
        top: 12vw;
        height: 100%;
        width: 100%;
        display: none;
        z-index: 99;
    }
    .home_page {
        padding-top: 12vw;
    }
    nav {
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        width: 100%;
    }
    .burger {
        display: block !important;
    }
    .burger span {
        background: #FFCC00;
        height: 3px;
        width: 26px;
        margin-bottom: 5px;
        display: block;
    }
    .burger span:last-child {
        margin-bottom: 0px;
    }
    .heder_top-enter {
        margin-right: 0 !important;
    }
    .look_more_wrap {
        flex-direction: column !important;
    }
    .look_more_wrap .look_more_info {
        margin-bottom: 23px !important;
        padding-left: 9vw !important;
    }
    .look_more_info a::before {
        width: 10vw !important;
        height: 10vw !important;
        top: -1vw !important;
    }
    .look_more_info-desc {
        line-height: 17px !important;
        margin: 5px 0px 3px !important;
    }
    .look_more h1 {
        font-size: 5vw !important;
        text-align: left !important;
    }
    .look_more p {
        font-size: 3vw !important;
        line-height: 136% !important;
        text-align: left !important;
        margin-bottom: 26px !important;
        margin-top: 10px !important;
    }
    footer nav a {
        color: #fff !important;
        border-bottom: 0px !important;
        margin-bottom: 2vw !important;
    }
    footer nav {
        padding: 6vw 0px 3vw !important;
    }
    footer .wrap {
        width: 90%;
        margin: 0 auto;
    }
    footer .middle {
        flex-direction: column !important;
    }
    footer .middle>div:first-child {
        display: none;
    }
    .geo_footer::before,
    .phone_footer::before,
    .email_footer::before {
        width: 23px !important;
        height: 29px !important;
        top: -32px !important;
    }
    footer .bottom {
        flex-direction: column !important;
    }
    footer .bottom>div:nth-child(2) {
        order: 1;
        margin-bottom: 2px;
    }
    footer .bottom>div:nth-child(3) {
        order: 2;
        margin-bottom: 2px;
    }
    footer .bottom>div:nth-child(4) {
        order: 3;
        margin-bottom: 20px;
    }
    footer .bottom>div:nth-child(1) {
        order: 4;
        color: #F1EEE4 !important;
    }
    .news {
        flex-direction: column !important;
    }
    .news_wrap {
        padding-bottom: 5vw !important;
        width: 90% !important;
        margin: 0 auto !important;
    }
    .news {
        padding: 7vw !important;
        box-sizing: border-box !important;
    }
    .news_date {
        order: 2 !important;
        margin: 1vh 0 1vh !important;
        width: 100% !important;
    }
    .news_page {
        padding-top: 12vw !important;
    }
    .news_page h1 {
        width: 90%;
        margin: 8vw auto;
    }
    h1.zag {
        font-size: 6vw !important;
    }
    .about_page,
    .partners_page,
    .drivers_page,
    .select_page {
        width: 90% !important;
        max-width: 90% !important;
        padding-top: 13vw !important;
    }
    .about_page .wrap,
    .partners_page .wrap,
    .drivers_page .wrap,
    .select_page .wrap {
        width: 100% !important;
        max-width: 100% !important;
    }
    .about_page h1,
    .partners_page h1,
    .drivers_page h1 {
        width: 90% !important;
        margin: 8vw auto !important;
    }
    .select_page h1 {
        width: 100% !important;
        margin: 8vw auto !important;
    }
    .fib_text {
        vertical-align: top;
        display: inline-block;
        width: 100% !important;
    }
    .register_wrap {
        display: flex;
        flex-direction: column !important;
    }
    .register_wrap_form {
        margin: 0 auto !important;
        order: 2 !important;
        width: 90% !important;
    }
    .driver_register_page,
    .select_page {
        padding-top: 13vw;
    }
    .register_wrap_info {
        order: 1 !important;
        width: 90% !important;
        box-sizing: border-box !important;
        margin: 5% auto !important;
        padding: 10px !important;
    }
    .register_wrap_info .mini_logo {
        display: none;
    }
    .register_wrap_info_pic {
        margin: 20px 0px 20px 10px !important;
        text-align: center !important;
        float: none !important;
        width: 40% !important;
    }
    .register_wrap_info_title {
        position: absolute;
        top: 38vw;
        left: 47%;
        font-size: 7vw !important;
        line-height: 100% !important;
    }
    .register_wrap_info_desc {
        margin-top: 39px;
        width: 80%;
        margin: 4vw auto;
    }
    .register_wrap_form {
        margin: 0 auto !important;
        order: 2 !important;
        width: 90% !important;
        padding: 5% !important;
        box-sizing: border-box !important;
        background: #fff !important;
    }
    .filters {
        display: none;
        position: fixed;
        width: 100%;
        height: auto;
    }
    .select_wrap {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
        width: 100% !important;
        margin: 0 auto !important;
    }
    .filter,
    .maps {
        width: 100% !important;
    }
    .maps {
        display: none;
    }
    .td_phone {
        display: none;
    }
    .select_list tr {
        display: block;
        background: #F8F3E5;
        padding: 20px 15px;
        box-sizing: border-box;
        border-top: 1px solid #BCB8AA;
        border-bottom: 1px solid #BCB8AA;
    }
    .select_list tr:nth-child(even) {
        background: #fff;
    }
    .select_page {
        margin: 0 auto !important;
    }
    .select_list {
        width: 100% !important;
        padding: 0px !important;
        margin-bottom: 100px;
    }
    td.td_title {
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 0px !important;
    }
}

.td_groupNumber,
.td_rating {
    display: none;
}